form {
    border: 1px solid #ccc;
}
h1 {
    text-align: center; color: white;
    
}
h2 {
    text-align: center;color: white
}
h3 {
    text-align: center;color: white
}
h4 {
    text-align: center;color: white
}
label {
    font-weight:bold;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
footer {
    text-align: center;background-color: black;color: white;
    width:30%;
}
body {
    background-color:brown
}
a {
    color: white;
}
    



    
